$graytext: #7B7B7B;
$orange: #FE5F1E;
$selectorgray: #F3F3F3;
$btnBlack: #282828;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Proxima Nova Rg', sans-serif;
}

// Import ------------------

@import '_button.scss';
@import 'floating_bar.scss';
// ------------------------

html {
    font-size: 14px;
}

.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100%;
    max-height: 100%;

    @media screen and (max-width: 900px) {
        width: 95%;
    }
}

header {
    padding: 30px;

    .container {
        justify-content: space-between;
        align-items: center;

        .logo {
            display: flex;
            gap: 10px;
            align-items: center;

            img {
                height: 50px;
                width: 50px;
                object-fit: contain;
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: 1px;

                .name {
                    font-size: 1.4rem;
                    font-weight: 800;
                    letter-spacing: 0.24px;
                    text-transform: uppercase
                }

                .description {
                    color: $graytext;
                }
            }
        }
    }
}

.pizza-cart {
    display: flex;
    flex-direction: column;

    font-size: 1.3rem;
    font-weight: 700;

    .img {
        align-self: center;
        width: 260px;
        height: 260px;
        margin-bottom: 4px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transform: none;
            transition: transform .5s;

            &:hover {
                transform: scale(1.05, 1.05);
            }
        }
    }

    .name {
        text-align: center;
        padding-bottom: 15px;
        letter-spacing: 0.2px;
    }

    .sweet {
        align-self: center;
        width: 80%;
        max-width: 260px;
        padding-bottom: 4%;

        text-align: center;
        letter-spacing: 0.2px;
        font-size: 1rem;
        font-weight: 500;
        color: rgba(2, 2, 2, 0.5);

        span {
            cursor: pointer;
            color: rgba(2, 2, 2, 0.5);
            font-size: 1.1rem;
            font-weight: 600;
            border-bottom: 2px dotted rgba(2, 2, 2, 0.5);
        }

        ul {
            list-style: none;
            padding-top: 3%;
        }
    }

    .price-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .selector {
        padding: 7px 15px;
        margin: 0 0 15px;
        background-color: $selectorgray;
        border-radius: 16px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);

        .size,
        .type {
            position: relative;
            display: flex;
            // justify-content: space-between;
            // justify-content: space-around;

            span.window {
                z-index: 0;
                position: absolute;
                // left: 5,85,170
                display: inline-block;
                background-color: white;
                border: 1px solid #ffffff00;
                border-radius: 5px;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
                top: -3px;
                width: 30%;
                height: calc(100% + 6px);

                transition: left ease-in-out .4s;
            }

            label {
                width: 33.333%;
                z-index: 1;
                text-align: center;
                // display: inline-block;
                cursor: pointer;

                input {
                    display: none;
                }

                font-size: 1.1rem;
                font-weight: 700;
                letter-spacing: 0.21px;
                // text-align: center;
            }
        }
    }
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    @media screen and (max-width: 900px) {}

    label {

        input {
            display: none;

            &:checked+span {
                background-color: $btnBlack;
                color: white;
            }
        }

        @media screen and (max-width: 900px) {
            display: flex;
            gap: 1%;
        }
    }
}

.sorter-list {
    position: relative;

    .selected {
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: .21px;
        color: $btnBlack;
        width: 200px;

        span {
            margin: 0 0 0 5px;
            font-weight: 400;
            color: $orange;
            // text-decoration: underline dashed;
            border-bottom: 1px dashed $orange;

            cursor: pointer;
        }
    }

    @media screen and (max-width: 900px) {
        margin-top: 3%;
    }

    .list {
        position: absolute;
        right: 0;
        top: 150%; //25px
        left: 90px;
        z-index: 1;
        max-width: 115px;
        width: 110px;

        background-color: white;
        padding: 18px 0 0 0;
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.09);
        border-radius: 10px;

        ul {

            li {
                display: block;
                font-size: 1rem;
                font-weight: 400;
                letter-spacing: .21px;
                color: $btnBlack;
                padding: 10px 14px;

                cursor: pointer;

                &:hover,
                &.active {
                    font-weight: 700;
                    background-color: #fe5f1e0d;
                    color: $orange;

                }

            }
        }
    }
}

section#main {

    .container {
        flex-wrap: wrap;

        @media screen and (max-width: 900px) {
            justify-content: center;
        }

        &.filter {
            padding: 36px 0;
            justify-content: space-between;
        }
    }

    .pizza-cart {
        width: 25%;
        padding: 20px;

        @media screen and (max-width: 900px) {
            width: auto;
        }
    }
}

section#cart {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;

    .container {
        flex-direction: column;
        align-items: center;

        .title {
            font-size: 2.3rem;
            font-weight: 700;
            margin-bottom: 1%;
            text-align: center;
        }

        .description {
            font-size: 1.1rem;
            line-height: 1.2;
            color: #777777;
            margin-bottom: 5%;
        }

        .button {
            margin: 3% 0 3%;
        }
    }

    .container.list {
        .header {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
            border-bottom: 1px solid #bcbcbc;

            .title {
                font-weight: 700;
                font-size: 2rem;
            }

            .delete-all {
                font-size: 1.1rem;
                color: $graytext;

                cursor: pointer;
            }
        }

        .list {
            width: 80%;
            margin: 10px auto;

            @media screen and (max-width: 900px) {
                width: 95%;
            }

            .item {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 20px 10px;

                .image {
                    width: 80px;
                    height: 80px;
                    margin-right: 10px;

                    @media screen and (max-width: 900px) {
                        width: 70px;
                        height: 70px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center;
                    }
                }


                .info {
                    // width: 5%;
                    max-width: 50px;

                    .name {
                        font-size: 1.3rem;
                        font-weight: 700;

                        @media screen and (max-width: 900px) {
                            font-size: 1.1rem;
                        }
                    }

                    .type {
                        font-size: 1.1rem;
                        color: $graytext;
                    }
                }

                .number {
                    position: relative;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    @media screen and (max-width: 900px) {
                        margin-left: 0 auto;
                        // gap: 3px;
                    }

                    div {
                        min-width: 20px;
                        min-height: 20px;
                        text-align: center;

                        font-size: 1.4rem;
                        font-weight: 700;

                        @media screen and (max-width: 900px) {
                            min-width: 10px;
                        }

                        &.button {
                            margin-top: 0;
                            color: $orange;
                            cursor: pointer;
                        }
                    }
                }

                .price {
                    margin: 0 auto;
                    font-size: 1.3rem;
                    font-weight: 700;
                }

                .delete {
                    color: $graytext;
                    font-size: 1.4rem;

                    cursor: pointer;
                }
            }
        }

        .button {
            width: 80%;
            display: flex;
            justify-content: space-between;
            text-align: center;

            .btn {
                margin-bottom: 5%;
            }

            @media screen and (max-width: 900px) {
                gap: 10px;

                .btn {
                    font-size: 1rem;
                    padding: 10px;
                }
            }
        }
    }


    /* .delivery-form {
    //     position: fixed;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: rgba(0, 0, 0, 0.5);

    //     .form {
    //         border: 1px solid red;
    //         background-color: #fff;
    //         position: relative;

    //         .delete-all {
    //             font-size: 1.1rem;
    //             color: $graytext;

    //             cursor: pointer;
    //         }

    //         .form-header {
    //             padding: 20px;
    //             font-weight: 700;
    //             font-size: 2rem;
    //         }


    //         .form-body {
    //             border: 1px solid red;
    //             display: flex;
    //             flex-wrap: wrap;
    //             flex-direction: column;
    //             align-items: center;
    //             justify-content: center;
    //             top: 0;
    //             gap: 10px;
    //             width: 50%;
    //             margin-bottom: 3%;

    //             input{
    //                 width: 100%;
    //             }
    //         }

    //         .close {
    //             position: absolute;
    //             top: 10px;
    //             right: 10px;
    //             font-size: 20px;
    //             box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    //             cursor: pointer;
    //         }
    //     }
    // }*/



    .delivery-form {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }

    select {
        padding: 10px 10px 20px 10px;
        outline: 0;
        border: 1px solid rgba(105, 105, 105, 0.397);
        border-radius: 5px;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 50%;
        max-width: 1200px;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        position: relative;

        @media screen and (max-width: 900px) {
            width: 90%;
        }

        label {
            position: relative;

            .input {
                width: 100%;
                padding: 10px 10px 20px 10px;
                outline: 0;
                border: 1px solid rgba(105, 105, 105, 0.397);
                border-radius: 5px;

                font-size: 1.1rem;
                line-height: 1.2;
                color: #777777;

                &:focus+span,
                &:valid+span {
                    top: 30px;
                    font-size: 0.7em;
                    font-weight: 600;
                }

                &:valid+span {
                    color: $graytext;
                }
            }

            .input+span {
                position: absolute;
                left: 10px;
                top: 15px;
                color: grey;
                font-size: 0.9em;
                cursor: text;
                transition: 0.3s ease;
            }

            .input:placeholder-shown+span {
                top: 15px;
                font-size: 0.9em;
            }
        }
    }

    .message {
        color: rgba(88, 87, 87, 0.822);
        font-size: 14px;
    }

    .flex {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .input01 {
        width: 100%;
        padding: 10px 10px 20px 10px;
        outline: 0;
        border: 1px solid rgba(105, 105, 105, 0.397);
        border-radius: 5px;
    }

    .form label .input01+span {
        position: absolute;
        left: 10px;
        top: 50px;
        color: grey;
        font-size: 0.9em;
        cursor: text;
        transition: 0.3s ease;
    }

    .form label .input01:placeholder-shown+span {
        top: 40px;
        font-size: 0.9em;
    }

    .form label .input01:focus+span,
    .form label .input01:valid+span {
        top: 50px;
        font-size: 0.7em;
        font-weight: 600;
    }

    .form label .input01:valid+span {
        color: $orange;
    }

    .fancy {
        background-color: transparent;
        border: 2px solid #cacaca;
        border-radius: 0px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-weight: 390;
        letter-spacing: 2px;
        margin: 0;
        outline: none;
        overflow: visible;
        padding: 8px 30px;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: none;
        transition: all 0.3s ease-in-out;
        user-select: none;
        font-size: 13px;

        &::before {
            content: " ";
            width: 1.7rem;
            height: 2px;
            background: #cacaca;
            top: 50%;
            left: 1.5em;
            position: absolute;
            transform: translateY(-50%);
            transform: translateX(230%);
            transform-origin: center;
            transition: background 0.3s linear, width 0.3s linear;
        }

        .text {
            font-size: 1.125em;
            line-height: 1.33333em;
            padding-left: 2em;
            display: block;
            text-align: left;
            transition: all 0.3s ease-in-out;
            text-transform: lowercase;
            text-decoration: none;
            color: #818181;
            transform: translateX(30%);
        }

        .top-key {
            height: 2px;
            width: 1.5625rem;
            top: -2px;
            left: 0.625rem;
            position: absolute;
            background: white;
            transition: width 0.5s ease-out, left 0.3s ease-out;
        }

        .bottom-key-1 {
            height: 2px;
            width: 1.5625rem;
        }
    }


}


/*Media query*/