$graytext: #7B7B7B;
$orange: #FE5F1E;
$selectorgray: #F3F3F3;
$btnBlack: #282828;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Proxima Nova Rg', sans-serif;
}

// Import ------------------

@import '_button.scss';

// ------------------------

html {
    font-size: 14px;
}

.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    padding: 30px;

    .container {
        justify-content: space-between;

        .logo {
            display: flex;
            gap: 10px;
            align-items: center;

            img {
                height: 50px;
                width: 50px;
                object-fit: contain;
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: 1px;

                .name {
                    font-size: 1.4rem;
                    font-weight: 800;
                    letter-spacing: 0.24px;
                    text-transform: uppercase
                }

                .description {
                    color: $graytext;
                }
            }
        }
    }
}

.pizza-cart {
    display: flex;
    flex-direction: column;

    font-size: 1.3rem;
    font-weight: 700;

    .img {
        width: 260px;
        height: 260px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .name {
        text-align: center;
        padding-bottom: 15px;
        letter-spacing: 0.2px;
    }

    .price-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .selector {
        padding: 7px 15px;
        margin: 0 0 15px;
        background-color: $selectorgray;
        border-radius: 16px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);

        .size,
        .type {
            position: relative;
            display: flex;
            // justify-content: space-between;
            // justify-content: space-around;

            span.window {
                z-index: 0;
                position: absolute;
                // left: 5,85,170
                display: inline-block;
                background-color: white;
                border: 1px solid #ffffff00;
                border-radius: 5px;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
                top: -3px;
                width: 30%;
                height: calc(100% + 6px);

                transition: left ease-in-out .4s;
            }

            label {
                width: 33.333%;
                z-index: 1;
                text-align: center;
                // display: inline-block;
                cursor: pointer;

                input {
                    display: none;
                }

                font-size: 1.1rem;
                font-weight: 700;
                letter-spacing: 0.21px;
                // text-align: center;
            }
        }
    }
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    label {
        input {
            display: none;

            &:checked+span {
                background-color: $btnBlack;
                color: white;
            }
        }
    }
}

.sorter-list {
    position: relative;

    .selected {
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: .21px;
        color: $btnBlack;

        span {
            margin: 0 0 0 5px;
            font-weight: 400;
            color: $orange;
            // text-decoration: underline dashed;
            border-bottom: 1px dashed $orange;

            cursor: pointer;
        }
    }

    .list {
        position: absolute;
        right: 0;
        top: 150%; //25px
        max-width: 115px;

        background-color: white;
        padding: 18px 0 0 0;
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.09);
        border-radius: 10px;

        ul {

            li {
                display: block;
                font-size: 1rem;
                font-weight: 400;
                letter-spacing: .21px;
                color: $btnBlack;
                padding: 10px 14px;

                cursor: pointer;

                &:hover,
                &.active {
                    font-weight: 700;
                    background-color: #fe5f1e0d;
                    color: $orange;

                }

            }
        }
    }
}

section#main {

    .container {
        flex-wrap: wrap;

        &.filter {
            padding: 36px 0;
            justify-content: space-between;
        }
    }

    .pizza-cart {
        width: 25%;
        padding: 20px;
    }
}

section#cart {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        flex-direction: column;
        align-items: center;

        .title {
            font-size: 2.3rem;
            font-weight: 700;
            margin-bottom: 1%;
            text-align: center;
        }

        .description {
            font-size: 1.1rem;
            line-height: 1.2;
            color: #777777;
            margin-bottom: 5%;
        }

        .button {
            margin-top: 5%;
        }
    }

    .container.list {
        .header {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
            border-bottom: 1px solid #bcbcbc;

            .title {
                font-weight: 700;
                font-size: 2rem;
            }

            .delete-all {
                font-size: 1.1rem;
                color: $graytext;

                cursor: pointer;
            }
        }

        .list {
            width: 80%;
            margin: 10px auto;

            .item {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 20px 10px;

                .image {
                    width: 80px;
                    height: 80px;
                    margin-right: 10px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center;
                    }
                }

                .info {
                    .name {
                        font-size: 1.3rem;
                        font-weight: 700;
                    }

                    .type {
                        font-size: 1.1rem;
                        color: $graytext;
                    }
                }

                .number {
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    div {
                        min-width: 20px;
                        min-height: 20px;
                        text-align: center;

                        font-size: 1.4rem;
                        font-weight: 700;

                        &.button {
                            margin-top: 0;
                            color: $orange;
                            cursor: pointer;
                        }
                    }
                }

                .price {
                    margin: 0 auto;
                    font-size: 1.3rem;
                    font-weight: 700;
                }

                .delete {
                    color: $graytext;
                    font-size: 1.4rem;

                    cursor: pointer;
                }
            }
        }

        .button{
            width: 80%;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
    }
}